.book {
  width: 50%;
  padding: 12px;
}

.add {
  width: 32px;
  height: 32px;
}

.shareBtn {
  background-color: #FFFFFFFF; 
}

.unshareBtn {
  background-color: #FF3A55; 
}

.price-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
