.page {
  background-color: #f7f7f7;
}

.product {
  width: 50%;
  padding: 12px;
}

.add {
  width: 32px;
  height: 32px;
}

.title-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loading {
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.loading-image {
  width: 64px;
  height: 64px;
}
